name: test

on:
  pull_request:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: build
        uses: docker/build-push-action@v6
        with:
          load: true
          tags: fastlaneci:latest

      - name: Test installed tools
        run: |
          set -e
          docker run --rm fastlaneci:latest java -version
          docker run --rm fastlaneci:latest python3 --version
          docker run --rm fastlaneci:latest ruby --version
          docker run --rm fastlaneci:latest node --version
          docker run --rm fastlaneci:latest xar --version
